<%= form_with model: @question, local: true do |form| %>
  <div>
    <%= form.text_field :title,     placeholder: "タイトル" %>
  </div>

  <div>
    <%= form.text_area  :question,  placeholder: "質問内容", rows: 3 %>
  </div>

  <div>
    <%= form.text_field :post_user, placeholder: "投稿者名" %>
  </div>

  <div>
    <%= form.submit "POST" %>
  </div>
<% end %>