<div class='#'>
  <div class='#'>タイトル：
    <%= @question.title %>
  </div>
  <div class='#'>投稿者名：
    <%= @question.post_user %>
  </div>
  <div class='#'>質問内容：
    <%= @question.question %>
  </div>
</div>

<div class='#'>
  <%= form_with model: [@question, @answer], local: true do |form| %>
    <div class='#'>
      <div class='#'>
        <%= form.text_area :answer, placeholder: "回答する" %>
      </div>
      <div class='#'>
        <%= form.text_field :answer_user, placeholder: "ユーザー名" %>
      </div>
      <div class='#'>
        <%= form.submit 'POST'%>
      </div>
    </div>
  <% end %>
</div>

<% @answers.each do |answer| %>
  <div class='#'>
    <div class='#'>回答：
      <%= answer.answer %>
    </div>
    <div class='#'>投稿者名：
      <%= answer.answer_user %>
    </div>
  </div>
<% end %>